extends ../layouts/master.jade

block title
    title laptrinh.io - Kênh dạy lập trình chuyên nghiệp miễn phí

block append css
    link(rel="stylesheet", href="css/index.css")

block append js
    script(src="js/index.js")

block content

    include ../components/navbar

    section#masthead
        .container
            h1 Kênh dạy lập trình chuyên nghiệp miễn phí
            p Miễn phí - Hiệu quả - Sinh động

    section#block-featured
        .container
            .row
                .col-md-12
                    h2 #[i.fa.fa-star] Video nổi bật
            .row
                .col-md-4
                    .feature-card
                        a(href="#")
                            img(src="https://unsplash.it/1200/768", class="img-responsive img-rounded")
                        .meta
                            .title Intro to Python programming
                .col-md-4
                    .feature-card
                        a(href="#")
                            img(src="https://unsplash.it/1200/768", class="img-responsive img-rounded")
                        .meta
                            .title Intro to Python programming
                .col-md-4
                    .feature-card
                        a(href="#")
                            img(src="https://unsplash.it/1200/768", class="img-responsive img-rounded")
                        .meta
                            .title Intro to Python programming


    include ../components/video-card
    section#block-latest
        .container
            .row
                .col-md-12
                    h2 #[i.fa.fa-star] Mới cập nhật

            .row
                .col-md-3
                    +video-card("Lập trình Perl cơ bản")
                .col-md-3
                    +video-card("Lập trình Perl cơ bản")
                .col-md-3
                    +video-card("Lập trình Perl cơ bản")
                .col-md-3
                    +video-card("Lập trình Perl cơ bản")
            .row
                .col-md-12.text-center
                    a.btn.btn-danger.btn-lg(href="#") Xem tất cả

    section#block-series
        .container
            .row
                .col-md-12
                    h2 #[i.fa.fa-star] Series lập trình

            .row
                .col-md-3
                    +video-card("Lập trình Perl cơ bản")
                .col-md-3
                    +video-card("Lập trình Perl cơ bản")
                .col-md-3
                    +video-card("Lập trình Perl cơ bản")
                .col-md-3
                    +video-card("Lập trình Perl cơ bản")
            .row
                .col-md-12.text-center
                    a.btn.btn-danger.btn-lg(href="#") Xem tất cả

    include ../components/footer