extends ../layouts/page

block title
    title Series lập trình

block css
    link(rel="stylesheet", href="css/series.css")

block js
    script(src="js/series.js")

block main

    section#block-series
        include ../components/video-card
        .container
            .row
                .col-md-3
                    +video-card("Lập trình Perl cơ bản")
                .col-md-3
                    +video-card("Lập trình mạng với Python")
                .col-md-3
                    +video-card("Tự động hoá với Gulp")
                .col-md-3
                    +video-card("Quản lý thư viện JS với Bower")

