extends ../layouts/page

block title
    title Series lập trình

block css
    link(rel="stylesheet", href="css/series.css")

block js
    script(src="js/series.js")

block main

    section#block-series
        .container
            .row
                .col-md-3
                    .video-card(href="#")
                        a(href="#")
                            img(src="https://unsplash.it/1024/768", alt="", class="img-responsive img-rounded")
                            .caption
                                p Học lập trình Perl cơ bản
                .col-md-3
                    .video-card(href="#")
                        a(href="#")
                            img(src="https://unsplash.it/1024/768", alt="", class="img-responsive img-rounded")
                            .caption
                                p Học lập trình Perl cơ bản
                .col-md-3
                    .video-card(href="#")
                        a(href="#")
                            img(src="https://unsplash.it/1024/768", alt="", class="img-responsive img-rounded")
                            .caption
                                p Học lập trình Perl cơ bản
                .col-md-3
                    .video-card(href="#")
                        a(href="#")
                            img(src="https://unsplash.it/1024/768", alt="", class="img-responsive img-rounded")
                            .caption
                                p Học lập trình Perl cơ bản
