extends ../layouts/page

block title
    title Series lập trình

block css
    link(rel="stylesheet", href="css/series-single.css")

block js
    script(src="js/series-single.js")

block header
    include ../components/header
    +header("Học lập trình Python cơ bản", "Hướng dẫn học lập trình Python cho người mới nhập môn.")

block main

    section#block-info
        include ../components/video-card
        .container
            .row
                .col-md-4
                    img(src="https://unsplash.it/1024/768", alt="", class="img-responsive")
                    h5.group-heading Thông tin
                    ul.list-group.meta
                        li.list-group-item #[span.key #[i.fa.fa-file-movie-o] Số bài:] #[span.value 12]
                        li.list-group-item #[span.key #[i.fa.fa-clock-o] Thời lượng:] #[span.value 180 phút]
                        li.list-group-item #[span.key #[i.fa.fa-cloud-download] Mã nguồn:] #[span.value #[a(href="#") Download]]

                .col-md-8

                    h5.group-heading Danh sách video
                    ul.list-group.videos
                        li.list-group-item
                            a(href="video.html")
                                span.number Bài 1
                                span.length 6:55
                                span.title Cài đặt môi trường
                        li.list-group-item
                            a(href="video.html")
                                span.number Bài 1
                                span.length 6:55
                                span.title Cài đặt môi trường
                        li.list-group-item
                            a(href="video.html")
                                span.number Bài 1
                                span.length 6:55
                                span.title Cài đặt môi trường
                        li.list-group-item
                            a(href="video.html")
                                span.number Bài 1
                                span.length 6:55
                                span.title Cài đặt môi trường
                        li.list-group-item
                            a(href="video.html")
                                span.number Bài 1
                                span.length 6:55
                                span.title Cài đặt môi trường


