footer
    .container
        .row
            .col-md-3
                a.logo(href="#") laptrinh.io
                p.subtitle Học lập trình theo đuổi đam mê.

            .col-md-3
                ul.footer-menu
                    li.heading Thông tin chung
                    li.item
                        a(href="about.html") Giới thiệu
                    li.item
                        a(href="testimonials.html") Chia sẻ
            .col-md-3
                ul.footer-menu
                    li.heading Nội dung
                    li.item
                        a(href="series.html") Xem tất cả series
                    li.item
                        a(href="#") Xem tất cả Video
                    li.item
                        a(href="tags.html") Tags
                    //- li.item
                    //-     a(href="#") Blog
            .col-md-3
                ul.footer-social
                    li.heading Social
                    li.item
                        a(href="#") #[i.fa.fa-envelope]
                    li.item
                        a(href="#") #[i.fa.fa-facebook]
                    li.item
                        a(href="#") #[i.fa.fa-twitter]
                    li.item
                        a(href="#") #[i.fa.fa-github]
                    li.item
                        a(href="#") #[i.fa.fa-youtube]

    .row
        .col-md-12.text-center
            p.copy Xây dựng bởi và bản quyền thuộc về #[a(href="http://petehouston.com") Pete Houston] &copy; 2016.

