footer
    .container
        .row
            .col-md-3
                a.logo(href="#") laptrinh.io
                p.subtitle Kênh dạy lập trình miễn phí.

            .col-md-3
                ul.footer-menu
                    li.heading Thông tin chung
                    li.item
                        a(href="#") Giới thiệu
            .col-md-3
                ul.footer-menu
                    li.heading Nội dung
                    li.item
                        a(href="#") Xem tất cả series
                    li.item
                        a(href="#") Xem tất cả Video
                    //- li.item
                    //-     a(href="#") Blog
            .col-md-3
                ul.footer-social
                    li.heading Social
                    li.item
                        a(href="#") #[i.fa.fa-envelope]
                    li.item
                        a(href="#") #[i.fa.fa-facebook]
                    li.item
                        a(href="#") #[i.fa.fa-twitter]
                    li.item
                        a(href="#") #[i.fa.fa-github]
                    li.item
                        a(href="#") #[i.fa.fa-youtube]

    .row
        .col-md-12.text-center
            p.copy Xây dựng bởi và bản quyền thuộc về #[a(href="http://petehouston.com") Pete Houston] &copy; 2016.

