nav(class="navbar navbar-default", role="navigation")
    .container
        .container-fluid
            .navbar-header
                button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-ex1-collapse")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(class="navbar-brand", href="index.html") laptrinh.io

            .collapse.navbar-collapse.navbar-ex1-collapse
                ul.nav.navbar-nav
                ul.nav.navbar-nav.navbar-right
                    li.dropdown
                        a(href="#", class="dropdown-toggle", data-toggle="dropdown") Danh sách video #[b.caret]
                        ul.dropdown-menu
                            li: a(href="series.html") Series lập trình
                            li: a(href="videos.html") Tổng hợp video
                    li: a(href="") Giới thiệu


