aside.sidebar
    ul.menu
        li.heading Explore
        li.item
            a(href="#") #[i.fa.fa-globe] What to watch
        li.item
            a(href="#") #[i.fa.fa-globe] Recommended
        li.item
            a(href="#") #[i.fa.fa-globe] History
        li.item
            a(href="#") #[i.fa.fa-globe] Subscriptions
    ul.menu
        li.heading Explore
        li.item
            a(href="#") #[i.fa.fa-globe] What to watch
        li.item
            a(href="#") #[i.fa.fa-globe] Recommended
        li.item
            a(href="#") #[i.fa.fa-globe] History
    ul.menu
        li.heading Explore
        li.item
            a(href="#") #[i.fa.fa-globe] What to watch
        li.item
            a(href="#") #[i.fa.fa-globe] Recommended
        li.item
            a(href="#") #[i.fa.fa-globe] History
        li.item
            a(href="#") #[i.fa.fa-globe] Subscriptions