mixin testimonial-card(name, text)
    .testimonial-card
        .card-image
            img.img-responsive.img-circle(src="https://unsplash.it/512/512", alt="")
        .card-content
            .card-name #{name}
            .card-message #{text}
