mixin video-card(name)
    .video-card
        a(href="#")
            img(src="https://unsplash.it/1024/768", alt="", class="img-responsive img-rounded")
            .overlay
                i.fa.fa-play
        .caption
            a(href="#") #{name}