doctype html
html(lang="en")

    head
        block title
            title Pandaa HTML Template by Pete Houston, http://petehouston.com
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato")
        link(rel="stylesheet", href="vendor/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="vendor/normalize-css/normalize.css")
        block css

    body
        block content
            h1 Master layout

        script(src="vendor/jquery/dist/jquery.min.js")

        block js